@import "bourbon";
@import "grid-settings";
@import "neat";

@mixin font ($size) {
  font-family: 'GuessFont','futura-pt',futura,'century gothic',centurygothic,Arial,Helvetica,sans-serif;
  font-size: $size;
  letter-spacing: .15em;
}

.hide {
  display: none;
}
.console {
  @include outer-container(100%);
  form {
    @include span-columns(6);
    label{
      @include font(15px);
      text-decoration: underline;
    }
    label > input[required="required"] {
    background: red;
    }
    input {
      @include span-columns(12);
      @include font(12px);
      margin: 10px 0 10px 0;
      border: none;
      border-bottom: 1px solid black;
    }
    input:hover {
      border-bottom-color: blue;
    }
    input:focus {
      outline: none;
      border-bottom-color: red;
    }
    .view {
      @include span-columns(2);
      @include shift(5);
      cursor: pointer;
      padding: 2px;
      border: 1px solid #000000;
      background-color: #eee;
      display: block;
      text-align: center;
    }
  }
  .iframe {
    @include span-columns(6);
    iframe {
      @include span-columns(12);
      height: 90%;
    }
    .download {
      @include span-columns(2);
      @include shift(5);
      cursor: pointer;
      padding: 2px;
      border: 1px solid #000000;
      background-color: #eee;
      display: block;
      text-align: center;
    }
  }
}
// .active {
//   display: block !important;
//   z-index: 3;
// }

// section{
//   @include outer-container(100%);
//   @include clearfix;
//   ul{
//     display: block;
//     width: 100%;
//     text-align: left;
//   }
//   li {
//     display: inline-block;
//     margin-left: 2%;
//     margin-right: 2%;
//   }
//   li a{
//     text-decoration: none;
//     color: #000000;
//     font-family: 'GuessFont','futura-pt',futura,'century gothic',centurygothic,Arial,Helvetica,sans-serif;
//     font-size: 12px;
//     letter-spacing: .15em;
//     &:hover{
//       text-decoration: underline;
//     }
//   }
// }
// .sub-menu li{
//   display: block;
// }

.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;


  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }


// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d;
// stop webkit flicker
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }


// The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {

    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      @include font (12px);
      color: #000000;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($horizontal-bar-mode) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.6;
  }


// Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a::after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &::after {
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    background-color: #ffffff;
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu.fly-out-right {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    .submenu.fly-out-left {
      @include media($horizontal-bar-mode) {
        left: -$centered-navigation-submenu-width + 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}
